.cabecalho {
    background-color: var(--preto);
    height: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.links {
    display: flex;
    align-items: center;
}

.buscador {
    margin-right: 1.25em;
}

@media screen and (max-width: 500px) {
    .links {
        display: none;
    }

   
}