:root {
  --fonte: 'Inter', sans-serif;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #CCCCCC;
  --verde: #DAFF01;
  --roxo: #9353FF;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
